*.asv
*.csv
DataSets/
Admin/
Books/
Figures/
Proposals/
Reports/
Tools/
Source/matlab-hmm-master/
Source/matlab_workspace.mat
Source/modelling.py
Source/prtools/
Source/successors.py
Source/pmtk3-master/
Source/matlab.mat
Output/PMTK3/